*{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
*::before,*::after{
    box-sizing: border-box;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul,ol{
    list-style: none
}
.xxx{
    position: relative;
}
img{
    width: 260px;
    height: 124px;
    position:absolute;
    left: 190px;
    top:-165px;
    
}


.wrapper{
    display: flex;
    position: relative;
    top: 40%;
}
.suggestion{
    position: absolute;
    top: 100%;
    left:0;
    display: none;
    border: 1px solid #CCCCCC;
    width: 540px;
    height: 160px;
    border-top: none;
}
li{
    margin-left: 8px;
    margin-bottom: 10px;
}
.suggestion.active{
    display: block;
}
.inputWrapper{
    position: relative;
    display: inline-block;
}
.floatDiv{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #b8b8b8;
}
.splitLine{
    height: 14px;
    border-left: 1px solid ;
    margin: 0 10px;
}
.inputWrapper{
    float: left;
}
#keyword{
    border-right: none;

}
.inputWrapper + button{
    float: left;
}

.inputWrapper + button{
    border: none;
    background: #3988Fb;
    font-size: 14px;
    color: white;
    padding: 0 20px;
}
.inputWrapper + button:focus{
    outline: none;
}
.inputWrapper + button:hover{
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
    background: #3781F0;
    cursor: pointer;

}
.inputWrapper input[type=text]{
    border: 1px solid #b8b8b8;
    width: 540px;
    height: 35px;
    line-height: 35px;;
    padding-left: 8px;
    font-size: 15px;
}
.inputWrapper input[type=text]:focus{
    outline: none;
    border-color: #4b94fc;
}
.inputWrapper svg.icon{
    width: 20px;
    height: 20px;
    fill: #b8b8b8;
    cursor: pointer;
}
.inputWrapper svg.icon:hover{

    fill: #4b94fc;
}


